<h1>signin page</h1>

<form action="/users/create_session" method="post">
    <input type='email' name='email' placeholder='Your Email Address'>
    <input type='password' name='password' placeholder='Your Password'>
    <input type="submit" value="Sign In">
</form>