<h1>sign up page</h1>

<form action="/users/create" method="post">
    <input type='name' name='name' placeholder='Your Name'>
    <input type='email' name='email' placeholder='Your Email'>
    <input type='password' name='password' placeholder='Your Password'>
    <input type='password' name='confirm_password' placeholder='Confirm Password'>
    <input type="submit" value="Sign Up">
</form>